.table-users-admin {
    th{
        margin: 10px;
        padding: 10px;
        &.status{
            .icon{
                &.close {
                    color: #ff0000;
                }
                &.check {
                    color: #3FA633;
                }
            }
        }
    }
}